a(href='/Account/Create')
	img(src="/images/createaccount.jpg")
a(href='/Account/Create')
	img(src="/images/createaccount.jpg" , onclick="myfunction")
ul
	li.first
		a(href='#') foo
	li
		a(href='#') bar
	li.last
		a(href='#') baz
- $displaypost = "post1"
- $displaypost2 = "post2"
table