<link href="../style.css" rel="stylesheet" type="text/css">
if (firstname=='')
		<p class="error"> you forget to enter your first name
if (lastname=='')
		<p class="error"> you forget to enter your last name


p good morning #{firstname} #{lastname}

a(href='#good morning')
	img(src="/images/createaccount.jpg", onclick="myfunction")